<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cityArray</key>
	<array>
		<dict>
			<key>city</key>
			<string>서울</string>
			<key>state</key>
			<array>
				<dict>
					<key>state</key>
					<string>강남구</string>
					<key>code</key>
					<string>gangnamgu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>강동구</string>
					<key>code</key>
					<string>gangdonggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>강북구</string>
					<key>code</key>
					<string>gangbukgu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>강서구</string>
					<key>code</key>
					<string>gangseogu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>관악구</string>
					<key>code</key>
					<string>gwanakgu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>광진구</string>
					<key>code</key>
					<string>gwangjingu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>구로구</string>
					<key>code</key>
					<string>gurogu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>금천구</string>
					<key>code</key>
					<string>geumcheongu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>노원구</string>
					<key>code</key>
					<string>nowongu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>도봉구</string>
					<key>code</key>
					<string>dobonggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>동대문구</string>
					<key>code</key>
					<string>dongdaemungu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>동작구</string>
					<key>code</key>
					<string>dongjakgu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>마포구</string>
					<key>code</key>
					<string>mapogu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>서대문구</string>
					<key>code</key>
					<string>seodaemungu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>성동구</string>
					<key>code</key>
					<string>seongdonggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>성북구</string>
					<key>code</key>
					<string>seongbukgu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>송파구</string>
					<key>code</key>
					<string>songpagu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>양천구</string>
					<key>code</key>
					<string>yangcheongu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>영등포구</string>
					<key>code</key>
					<string>yeongdeungpogu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>용산구</string>
					<key>code</key>
					<string>yongsangu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>은평구</string>
					<key>code</key>
					<string>eunpyeonggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>종로구</string>
					<key>code</key>
					<string>jongnogu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>중구</string>
					<key>code</key>
					<string>sujung</string>
				</dict>
				<dict>
					<key>state</key>
					<string>중랑구</string>
					<key>code</key>
					<string>jungnanggu</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>city</key>
			<string>부산</string>
			<key>state</key>
			<array>
				<dict>
					<key>state</key>
					<string>기장군</string>
					<key>code</key>
					<string>gijanggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>남구</string>
					<key>code</key>
					<string>busannamgu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>동구</string>
					<key>code</key>
					<string>busandonggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>동래구</string>
					<key>code</key>
					<string>dongnaegu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>북구</string>
					<key>code</key>
					<string>busanbukgu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>사상구</string>
					<key>code</key>
					<string>sasanggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>사하구</string>
					<key>code</key>
					<string>sahagu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>진구</string>
					<key>code</key>
					<string>busanjingu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>해운대구</string>
					<key>code</key>
					<string>haeundaegu</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>city</key>
			<string>대구</string>
			<key>state</key>
			<array>
				<dict>
					<key>state</key>
					<string>남구</string>
					<key>code</key>
					<string>daegunamgu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>달서구</string>
					<key>code</key>
					<string>dalseogu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>달성군</string>
					<key>code</key>
					<string>dalseonggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>동구</string>
					<key>code</key>
					<string>daegudonggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>북구</string>
					<key>code</key>
					<string>daegubukgu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>서구</string>
					<key>code</key>
					<string>daeguseogu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>수성구</string>
					<key>code</key>
					<string>suseonggu</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>city</key>
			<string>인천</string>
			<key>state</key>
			<array>
				<dict>
					<key>state</key>
					<string>강화군</string>
					<key>code</key>
					<string>ganghwagun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>계양구</string>
					<key>code</key>
					<string>gyeyanggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>남구</string>
					<key>code</key>
					<string>incheonnamgu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>남동구</string>
					<key>code</key>
					<string>namdonggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>동구</string>
					<key>code</key>
					<string>incheondonggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>부평구</string>
					<key>code</key>
					<string>bupyeonggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>서구</string>
					<key>code</key>
					<string>incheonseogu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>연수구</string>
					<key>code</key>
					<string>yeonsugu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>중구</string>
					<key>code</key>
					<string>incheonjunggu</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>city</key>
			<string>광주</string>
			<key>state</key>
			<array>
				<dict>
					<key>state</key>
					<string>광산구</string>
					<key>code</key>
					<string>gwangsangu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>남구</string>
					<key>code</key>
					<string>gwangjunamgu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>북구</string>
					<key>code</key>
					<string>gwangjubukgu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>서구</string>
					<key>code</key>
					<string>gwangjuseogu</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>city</key>
			<string>대전</string>
			<key>state</key>
			<array>
				<dict>
					<key>state</key>
					<string>대덕구</string>
					<key>code</key>
					<string>daedeokgu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>동구</string>
					<key>code</key>
					<string>daejeondonggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>서구</string>
					<key>code</key>
					<string>daejeonseogu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>유성구</string>
					<key>code</key>
					<string>yuseonggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>중구</string>
					<key>code</key>
					<string>daejeonjunggu</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>city</key>
			<string>울산</string>
			<key>state</key>
			<array>
				<dict>
					<key>state</key>
					<string>남구</string>
					<key>code</key>
					<string>ulsannamgu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>동구</string>
					<key>code</key>
					<string>ulsandonggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>북구</string>
					<key>code</key>
					<string>ulsanbukgu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>울주군</string>
					<key>code</key>
					<string>uljugun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>중구</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>city</key>
			<string>세종</string>
			<key>state</key>
			<array>
				<dict>
					<key>state</key>
					<string>세종시</string>
					<key>code</key>
					<string>sejongsi</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>city</key>
			<string>경기</string>
			<key>state</key>
			<array>
				<dict>
					<key>state</key>
					<string>가평군</string>
					<key>code</key>
					<string>ulsannamgu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>고양시</string>
					<key>code</key>
					<string>ulsandonggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>광명시</string>
					<key>code</key>
					<string>ulsanbukgu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>광주시</string>
					<key>code</key>
					<string>uljugun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>구리시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>군포시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>김포시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>남양주시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>동두천시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>부천시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>성남시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>수원시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>시흥시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>안산시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>안성시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>안양시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>양주시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>양평군</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>여주군</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>연쳔군</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>오산시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>용인시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>의왕시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>의정부시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>이천시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>파주시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>평택시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>포천시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>하남시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
				<dict>
					<key>state</key>
					<string>화성시</string>
					<key>code</key>
					<string>ulsanjunggu</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>city</key>
			<string>강원</string>
			<key>state</key>
			<array>
				<dict>
					<key>state</key>
					<string>강릉시</string>
					<key>code</key>
					<string>gangneungsi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>고성군</string>
					<key>code</key>
					<string>goseong</string>
				</dict>
				<dict>
					<key>state</key>
					<string>동해시</string>
					<key>code</key>
					<string>donghaesi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>삼척시</string>
					<key>code</key>
					<string>samcheoksi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>속초시</string>
					<key>code</key>
					<string>sokchosi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>양구군</string>
					<key>code</key>
					<string>yanggugun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>영월군</string>
					<key>code</key>
					<string>yeongwolgun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>원주시</string>
					<key>code</key>
					<string>wonjusi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>인제군</string>
					<key>code</key>
					<string>injegun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>정선군</string>
					<key>code</key>
					<string>jeongseongun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>철원군</string>
					<key>code</key>
					<string>cheorwongun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>춘천시</string>
					<key>code</key>
					<string>chuncheonsi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>태백시</string>
					<key>code</key>
					<string>taebaeksi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>평창군</string>
					<key>code</key>
					<string>pyeongchanggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>홍천</string>
					<key>code</key>
					<string>hongcheongun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>횡성</string>
					<key>code</key>
					<string>hoengseonggun</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>city</key>
			<string>충북</string>
			<key>state</key>
			<array>
				<dict>
					<key>state</key>
					<string>괴산시</string>
					<key>code</key>
					<string>gangneungsi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>단양군</string>
					<key>code</key>
					<string>goseong</string>
				</dict>
				<dict>
					<key>state</key>
					<string>보은군</string>
					<key>code</key>
					<string>donghaesi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>영동군</string>
					<key>code</key>
					<string>samcheoksi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>옥천군</string>
					<key>code</key>
					<string>sokchosi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>음성군</string>
					<key>code</key>
					<string>yanggugun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>제천시</string>
					<key>code</key>
					<string>yeongwolgun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>증평군</string>
					<key>code</key>
					<string>wonjusi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>진천군</string>
					<key>code</key>
					<string>injegun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>청월군</string>
					<key>code</key>
					<string>jeongseongun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>청주시</string>
					<key>code</key>
					<string>cheorwongun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>충주시</string>
					<key>code</key>
					<string>chuncheonsi</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>city</key>
			<string>충남</string>
			<key>state</key>
			<array>
				<dict>
					<key>state</key>
					<string>공주시</string>
					<key>code</key>
					<string>gongjusi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>금산군</string>
					<key>code</key>
					<string>geumsangun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>논산시</string>
					<key>code</key>
					<string>nonsansi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>당진시</string>
					<key>code</key>
					<string>dangjingun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>보령시</string>
					<key>code</key>
					<string>boryeongsi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>부여군</string>
					<key>code</key>
					<string>buyeogun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>서산시</string>
					<key>code</key>
					<string>seosansi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>서천군</string>
					<key>code</key>
					<string>seocheongun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>아산시</string>
					<key>code</key>
					<string>asansi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>예산군</string>
					<key>code</key>
					<string>yesangun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>천안시</string>
					<key>code</key>
					<string>cheonansi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>천양군</string>
					<key>code</key>
					<string>cheongyanggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>태안군</string>
					<key>code</key>
					<string>taeangun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>홍성군</string>
					<key>code</key>
					<string>hongseonggun</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>city</key>
			<string>전북</string>
			<key>state</key>
			<array>
				<dict>
					<key>state</key>
					<string>공주시</string>
					<key>code</key>
					<string>gongjusi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>금산군</string>
					<key>code</key>
					<string>geumsangun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>논산시</string>
					<key>code</key>
					<string>nonsansi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>당진시</string>
					<key>code</key>
					<string>dangjingun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>보령시</string>
					<key>code</key>
					<string>boryeongsi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>부여군</string>
					<key>code</key>
					<string>buyeogun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>서산시</string>
					<key>code</key>
					<string>seosansi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>서천군</string>
					<key>code</key>
					<string>seocheongun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>아산시</string>
					<key>code</key>
					<string>asansi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>예산군</string>
					<key>code</key>
					<string>yesangun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>천안시</string>
					<key>code</key>
					<string>cheonansi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>천양군</string>
					<key>code</key>
					<string>cheongyanggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>태안군</string>
					<key>code</key>
					<string>taeangun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>홍성군</string>
					<key>code</key>
					<string>hongseonggun</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>city</key>
			<string>전남</string>
			<key>state</key>
			<array>
				<dict>
					<key>state</key>
					<string>강진군</string>
					<key>code</key>
					<string>gangjingun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>고흥군</string>
					<key>code</key>
					<string>goheunggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>곡성군</string>
					<key>code</key>
					<string>gokseonggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>광양시</string>
					<key>code</key>
					<string>gwangyangsi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>나주시</string>
					<key>code</key>
					<string>najusi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>담양군</string>
					<key>code</key>
					<string>damyanggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>목포시</string>
					<key>code</key>
					<string>mokposi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>무안군</string>
					<key>code</key>
					<string>muangun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>보성군</string>
					<key>code</key>
					<string>boseonggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>순천시</string>
					<key>code</key>
					<string>suncheonsi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>여수시</string>
					<key>code</key>
					<string>yeosusi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>영광군</string>
					<key>code</key>
					<string>yeonggwanggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>영암군</string>
					<key>code</key>
					<string>yeongamgun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>완도군</string>
					<key>code</key>
					<string>wandogun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>장성군</string>
					<key>code</key>
					<string>jangseonggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>장흥군</string>
					<key>code</key>
					<string>jangheunggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>진도군</string>
					<key>code</key>
					<string>jindogun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>함평군</string>
					<key>code</key>
					<string>hampyeonggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>해남군</string>
					<key>code</key>
					<string>haenamgun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>화순군</string>
					<key>code</key>
					<string>hwasungun</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>city</key>
			<string>경북</string>
			<key>state</key>
			<array>
				<dict>
					<key>state</key>
					<string>경산시</string>
					<key>code</key>
					<string>gyeongsansi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>경주시</string>
					<key>code</key>
					<string>gyeongjusi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>고령군</string>
					<key>code</key>
					<string>goryeonggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>구미시</string>
					<key>code</key>
					<string>gumisi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>군위군</string>
					<key>code</key>
					<string>gunwigun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>김천시</string>
					<key>code</key>
					<string>gimcheonsi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>문경시</string>
					<key>code</key>
					<string>mungyeongsi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>봉화군</string>
					<key>code</key>
					<string>bonghwagun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>상주시</string>
					<key>code</key>
					<string>sangjusi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>성주군</string>
					<key>code</key>
					<string>seongjugun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>안동시</string>
					<key>code</key>
					<string>andongsi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>영덕군</string>
					<key>code</key>
					<string>yeongdeokgun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>영양군</string>
					<key>code</key>
					<string>yeongyanggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>영주시</string>
					<key>code</key>
					<string>yeongjusi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>영천시</string>
					<key>code</key>
					<string>yeongcheonsi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>예천군</string>
					<key>code</key>
					<string>yecheongun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>울릉군</string>
					<key>code</key>
					<string>ulleunggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>울진군</string>
					<key>code</key>
					<string>uljingun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>의성군</string>
					<key>code</key>
					<string>uiseonggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>청도군</string>
					<key>code</key>
					<string>cheongdogun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>청송군</string>
					<key>code</key>
					<string>cheongsonggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>칠곡군</string>
					<key>code</key>
					<string>chilgokgun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>포항시</string>
					<key>code</key>
					<string>pohangsi</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>city</key>
			<string>경남</string>
			<key>state</key>
			<array>
				<dict>
					<key>state</key>
					<string>거제시</string>
					<key>code</key>
					<string>geojesi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>거창군</string>
					<key>code</key>
					<string>geochanggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>경상남도</string>
					<key>code</key>
					<string>gyeongnam</string>
				</dict>
				<dict>
					<key>state</key>
					<string>고성군</string>
					<key>code</key>
					<string>goseonggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>김해시</string>
					<key>code</key>
					<string>gimhaesi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>남해군</string>
					<key>code</key>
					<string>namhaegun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>밀양시</string>
					<key>code</key>
					<string>miryangsi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>사천시</string>
					<key>code</key>
					<string>sacheonsi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>산청군</string>
					<key>code</key>
					<string>sancheonggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>양산시</string>
					<key>code</key>
					<string>yangsansi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>의령군</string>
					<key>code</key>
					<string>uiryeonggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>진주시</string>
					<key>code</key>
					<string>jinjusi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>창녕군</string>
					<key>code</key>
					<string>changnyeonggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>창원시</string>
					<key>code</key>
					<string>changwonsi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>창원시마산</string>
					<key>code</key>
					<string>changwonsimasan</string>
				</dict>
				<dict>
					<key>state</key>
					<string>통영시</string>
					<key>code</key>
					<string>tongyeongsi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>하동군</string>
					<key>code</key>
					<string>hadonggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>함안군</string>
					<key>code</key>
					<string>hamangun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>함양군</string>
					<key>code</key>
					<string>hamyanggun</string>
				</dict>
				<dict>
					<key>state</key>
					<string>합천군</string>
					<key>code</key>
					<string>hapcheongun</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>city</key>
			<string>제주</string>
			<key>state</key>
			<array>
				<dict>
					<key>state</key>
					<string>서귀포시</string>
					<key>code</key>
					<string>seogwiposi</string>
				</dict>
				<dict>
					<key>state</key>
					<string>제주시</string>
					<key>code</key>
					<string>jejusi</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
